<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
<body>

{% block login %}

        <h4> {{ message }}</h4>

        <form action="/auth/login/" method="post">
        <div class="form-group">
            {% csrf_token %}
            <label for="username">Имя пользователя</label>
            <input type="username" class="form-control" name="username" id="username">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" name="password" id="password">
            {% if login_error %}
                <label class="error">({{ login_error }})</label>
            {% endif %}
        </div>
            <input class="btn btn-primary" type="submit" value="Войти">
        <div class="form-group">
            <a href="/auth/register">Зарегестрироваться</a>
        </div>
        </form>

{% endblock %}

</body>
</html>

