<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<style>
    body, html {
        font-size: 12px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
        text-decoration: none;
        color: white;
    }
</style>
<body>
<ul>
  <li><a class="active" href="/transaction">Home</a></li>
  <li><a href="/history">History</a></li>
</ul>

<h1 class="text-center my-3"> History page </h1>

    <div class="select2-container" style="padding-top:15px;">
        <form method='post' class="d-flex justify-content-center">
                        {% csrf_token %}
            <input type="text" placeholder="Find by ID" name="id">
            <button type="submit" class="btn btn-success ml-3 btn-1" name = "find" value="id">Find</button>
            <br>
            <input type="text" placeholder="Find by reference" name="reference">
            <button type="submit" class="btn btn-success ml-3 btn-2" name = "find" value="reference">Find</button>
        </form>
    </div>

<div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                {% if found %}
                    <table>
                        <thead class="notequal-thead">
                            <th> ID </th>
                            <th> DATE </th>
                            <th> TIME </th>
                            <th> UPDATED TIME </th>
                            <th> TRANSFER </th>
                            <th> FEE </th>
                            <th> TOTAL </th>
                            <th> REFERENCE </th>
                            <th> BANK </th>
                        </thead>
                        {% for i in list %}
                        <tr>
                            <td> {{ i.id }}</td>
                            <td> {{ i.date }}</td>
                            <td> {{ i.time }}</td>
                            <td> {{ i.updated_time }}</td>
                            <td> {{ i.transfer }}</td>
                            <td> {{ i.fee }}</td>
                            <td> {{ i.total }}</td>
                            <td> {{ i.reference }}</td>
                            <td> {{ i.bank }}</td>
                        </tr>
                        {%  endfor %}

                {% endif %}

{#                {% if list %}#}
{#                    <p> Ничего по данной информации не найдено </p>#}
{#                {% endif %}#}
            </div>
        </div>
</div>


</body>
</html>