<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="jquery-3.3.1.min.js"></script>
<style>
    body, html {
        font-size: 12px;
    }
    .selected {
    background-color: brown;
    color: #FFF;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin: 1rem 0;
    }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    h1{
        font-size: 2rem;
    }
    h5 {
        font-weight: bold;
    }

    .notequal-thead {
        background-color: #ff7e22;

    }
    .notfound-thead {
        background-color: red;

    }
    .equal-thead {
        background-color: seagreen;

    }
    table th {
        color: #fff;
    }
    .notequal-thead,.notequal,.equal {
        margin:1rem 0;
    }
    table .total td {
        font-weight: bold;
        font-size: 1.2rem;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
        text-decoration: none;
        color: white;
    }
</style>

<body>
    <ul>
        <li><a href="/">Transactions</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/analytics">Analytics</a></li>
        <li><a href="/tasks">Tasks</a> </li>
        {% if request.session.isAuth  %}
            <li><a href = "/auth/logout/">Выйти ({{ request.session.user }})</a></li>
        {% else %}
            <li><a href = "/auth/login/">Войти</a></li>
        {% endif %}
    </ul>

    {% if user.get_username == 'admin' %}
        <h1 class="text-center my-3"> There are all tasks were given to financiers </h1>
        <div class="container">
        <div class="row">
        <div class="accordion w-100 " id="accordionExample">
              <div class="card" >
              <div class="d-flex flex-row w-100">
                <div class="card-header"  style="width: 33.3%;" id="headingOne">
                  <h5 class="mb-0" style="text-align: center;">
                    <button class="btn btn-link" s type="button" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Datas with not equal trasnfer amount
                    </button>
                  </h5>
                </div><div class="card-header"  style="width: 33.3%;" id="headingTwo">
              <h5 class="mb-0" style="text-align: center;">
                <button class="btn btn-link collapsed" type="button" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Datas not found in database
                </button>
              </h5>
            </div>
                <div class="card-header"  style="width: 33.3%;" id="headingThree">
                  <h5 class="mb-0" style="text-align: center;">
                    <button class="btn btn-link collapsed" style="text-decoration: none;" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Datas with equal parameters
                    </button>
                  </h5>
                </div>
              </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class = "notequal" >
                    <h5 class="ml-3"> Данные, которые есть в платежной системе но не одинаковы с компанией </h5>

                    <table id ="table">
                        <thead class="notequal-thead">
                            <th> USER </th>
                            <th> ID </th>
                            <th> DATE </th>
                            <th> TIME </th>
                            <th> TRANSFER </th>
                            <th> FEE </th>
                            <th> TOTAL </th>
                            <th> REFERENCE </th>
                            <th> BANK </th>
                            <th> COMMENT </th>
                        </thead>
                        {% for i in notequal %}
                        <tr>
                            <td> {{ i.user }}</td>
                            <td> {{ i.id }}</td>
                            <td> {{ i.date }}</td>
                            <td> {{ i.time }}</td>
                            <td> {{ i.transfer }}</td>
                            <td> {{ i.fee }}</td>
                            <td> {{ i.total }}</td>
                            <td> {{ i.reference }}</td>
                            <td> {{ i.bank }}</td>
                             <td>  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                              View Comment
                            </button></td>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    {{ i.comment }}
                                  </div>
                                </div>
                              </div>
                            </div>
                        </tr>
                        {%  endfor %}
                    </table>
                    {%  if notequal %}
                        <form method='post' >
                                    {% csrf_token %}
                            <input id="ids" type="hidden" name="ids">
                            <button class="btn btn-outline-info center-block fix" id = "tst" type="submit" name="fix" value="fix">Send</button>
                        </form>
                        {% endif %}

{#                        <form method="post">#}
{#                                     {% csrf_token %}#}
{#                             <input id = "selected_ids" type="hidden" name="selected_ids" value="">#}
{#                             <input type="hidden" name="user" value={{ request.user }}>#}
{#                             <input type="text" name="comment" style="width: 300px; height: 100px">#}
{#                             <button class="btn btn-outline-info center-block ok" id = "tst" type="submit" name="send" value="send">Send comment</button>#}
{#                  </form>#}
                  </div>
                </div>
              </div>
              <div class="card">

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class = "notfound mt-2 p-2">
                <h5  class="ml-3"> Данные, которых нет в платежной системе </h5>
                <table id="table">
                    <thead class="notfound-thead">
                            <th> USER </th>
                            <th> ID </th>
                            <th> DATE </th>
                            <th> TIME </th>
                            <th> TRANSFER </th>
                            <th> FEE </th>
                            <th> TOTAL </th>
                            <th> REFERENCE </th>
                            <th> BANK </th>
                            <th> COMMENT </th>
                    </thead>
                    {% for i in notfound %}
                    <tr>
                            <td> {{ i.user }}</td>
                            <td> {{ i.id }}</td>
                            <td> {{ i.date }}</td>
                            <td> {{ i.time }}</td>
                            <td> {{ i.transfer }}</td>
                            <td> {{ i.fee }}</td>
                            <td> {{ i.total }}</td>
                            <td> {{ i.reference }}</td>
                            <td> {{ i.bank }}</td>
                            <td>  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                              View Comment
                            </button></td>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    {{ i.comment }}
                                  </div>
                                </div>
                              </div>
                            </div>
                    </tr>
                    {%  endfor %}
                </table>

{#                <form method="post">#}
{#                                     {% csrf_token %}#}
{#                             <input id = "selected_ids" type="hidden" name="selected_ids" value="">#}
{#                             <input type="hidden" name="user" value={{ user.get_username }}>#}
{#                             <input type="text" name="comment" style="width: 500px; height: 100px;">#}
{#                             <button class="btn btn-outline-info center-block ok" id = "tst" type="submit" name="send" value="send">Send comment</button>#}
{#                  </form>#}
              </div>
            </div>
          </div>
              <div class="card">
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

                <div class = "equal"  style="" >
                <h5 class="ml-3"> Данные, которые одинаковы в платежной системе и компании  </h5>
                <table id = "table">
                    <thead class="equal-thead">
                                <th> USER </th>
                                <th> ID </th>
                                <th> DATE </th>
                                <th> TIME </th>
                                <th> TRANSFER </th>
                                <th> FEE </th>
                                <th> TOTAL </th>
                                <th> REFERENCE </th>
                                <th> BANK </th>
                                <th> COMMENT </th>
                    </thead>
                    {% for i in equal %}
                    <tr>
                            <td> {{ i.user }}</td>
                            <td> {{ i.id }}</td>
                            <td> {{ i.date }}</td>
                            <td> {{ i.time }}</td>
                            <td> {{ i.transfer }}</td>
                            <td> {{ i.fee }}</td>
                            <td> {{ i.total }}</td>
                            <td> {{ i.reference }}</td>
                            <td> {{ i.bank }}</td>
                              <td>  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                              View Comment
                            </button></td>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    {{ i.comment }}
                                  </div>
                                </div>
                              </div>
                            </div>
                    </tr>
                    {%  endfor %}
                </table>
{#                  <form method="post">#}
{#                                     {% csrf_token %}#}
{#                             <input id = "sel{#ected_ids" type="hidden" name="selected_ids" value="">#}
{#                             <input type="hidden" name="user" value={{ request.user }}>#}
{#                             <input type="text" name="comment" style="width: 300px; height: 100px">#}
{#                             <button class="btn btn-outline-info center-block ok" id = "tst" type="submit" name="send" value="send">Send comment</button>#}
{#                  </form>#}
                </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    {% else %}
        <h1 class="text-center my-3"> There are all tasks were given to financiers </h1>
        <div class="container">
        <div class="row">
        <div class="accordion w-100 " id="accordionExample">
              <div class="card" >
              <div class="d-flex flex-row w-100">
                <div class="card-header"  style="width: 33.3%;" id="headingOne">
                  <h5 class="mb-0" style="text-align: center;">
                    <button class="btn btn-link" s type="button" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Datas with not equal trasnfer amount
                    </button>
                  </h5>
                </div><div class="card-header"  style="width: 33.3%;" id="headingTwo">
              <h5 class="mb-0" style="text-align: center;">
                <button class="btn btn-link collapsed" type="button" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Datas not found in database
                </button>
              </h5>
            </div>
                <div class="card-header"  style="width: 33.3%;" id="headingThree">
                  <h5 class="mb-0" style="text-align: center;">
                    <button class="btn btn-link collapsed" style="text-decoration: none;" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Datas with equal parameters
                    </button>
                  </h5>
                </div>
              </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class = "notequal" >
                    <h5 class="ml-3"> Данные, которые есть в платежной системе но не одинаковы с компанией </h5>

                    <table id ="table">
                        <thead class="notequal-thead">
                            <th> USER </th>
                            <th> ID </th>
                            <th> DATE </th>
                            <th> TIME </th>
                            <th> TRANSFER </th>
                            <th> FEE </th>
                            <th> TOTAL </th>
                            <th> REFERENCE </th>
                            <th> BANK </th>
{#                            <th> COMMENT</th>#}
                        </thead>
                        {% for i in notequal %}
                        <tr>
                            <td> {{ i.user }}</td>
                            <td> {{ i.id }}</td>
                            <td> {{ i.date }}</td>
                            <td> {{ i.time }}</td>
                            <td> {{ i.transfer }}</td>
                            <td> {{ i.fee }}</td>
                            <td> {{ i.total }}</td>
                            <td> {{ i.reference }}</td>
                            <td> {{ i.bank }}</td>
{#                            <td> {{ i.comment }}</td>#}
                        </tr>
                        {%  endfor %}
                    </table>

                        <form method="post">
                                     {% csrf_token %}
                             <input id = "selected_ids" type="hidden" name="selected_ids" value="">
                             <input type="hidden" name="user" value={{ request.user }}>
                             <input type="text" name="comment" style="width: 300px; height: 100px">
                             <button class="btn btn-outline-info center-block ok" id = "tst" type="submit" name="send" value="send">Send comment</button>
                  </form>
                  </div>
                </div>
              </div>
              <div class="card">

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class = "notfound mt-2 p-2">
                <h5  class="ml-3"> Данные, которых нет в платежной системе </h5>
                <table id="table">
                    <thead class="notfound-thead">
                            <th> USER </th>
                            <th> ID </th>
                            <th> DATE </th>
                            <th> TIME </th>
                            <th> TRANSFER </th>
                            <th> FEE </th>
                            <th> TOTAL </th>
                            <th> REFERENCE </th>
                            <th> BANK </th>
{#                            <th> COMMENT</th>#}
                    </thead>
                    {% for i in notfound %}
                    <tr>
                            <td> {{ i.user }}</td>
                            <td> {{ i.id }}</td>
                            <td> {{ i.date }}</td>
                            <td> {{ i.time }}</td>
                            <td> {{ i.transfer }}</td>
                            <td> {{ i.fee }}</td>
                            <td> {{ i.total }}</td>
                            <td> {{ i.reference }}</td>
                            <td> {{ i.bank }}</td>
{#                            <td> {{ i.comment }}</td>#}
                    </tr>
                    {%  endfor %}
                </table>

                <form method="post">
                                     {% csrf_token %}
                             <input id = "selected_ids" type="hidden" name="selected_ids" value="">
                             <input type="hidden" name="user" value={{ user.get_username }}>
                             <input type="text" name="comment" style="width: 500px; height: 100px;">
                             <button class="btn btn-outline-info center-block ok" id = "tst" type="submit" name="send" value="send">Send comment</button>
                  </form>
              </div>
            </div>
          </div>
              <div class="card">
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class = "equal"  style="" >
                <h5 class="ml-3"> Данные, которые одинаковы в платежной системе и компании  </h5>
                <table id = "table">
                    <thead class="equal-thead">
                                <th> USER </th>
                                <th> ID </th>
                                <th> DATE </th>
                                <th> TIME </th>
                                <th> TRANSFER </th>
                                <th> FEE </th>
                                <th> TOTAL </th>
                            <th> REFERENCE </th>
                            <th> BANK </th>
{#                            <th> COMMENT </th>#}
                    </thead>
                    {% for i in equal %}
                    <tr>
                            <td> {{ i.user }}</td>
                            <td> {{ i.id }}</td>
                            <td> {{ i.date }}</td>
                            <td> {{ i.time }}</td>
                            <td> {{ i.transfer }}</td>
                            <td> {{ i.fee }}</td>
                            <td> {{ i.total }}</td>
                            <td> {{ i.reference }}</td>
                            <td> {{ i.bank }}</td>
{#                            <td> {{ i.comment }}</td>#}
                    </tr>
                    {%  endfor %}

                </table>
                  <form method="post">
                                     {% csrf_token %}
                             <input id = "selected_ids" type="hidden" name="selected_ids" value="">
                             <input type="hidden" name="user" value={{ request.user }}>
                             <input type="text" name="comment" style="width: 300px; height: 100px">
                             <button class="btn btn-outline-info center-block ok" id = "tst" type="submit" name="send" value="send">Send comment</button>
                  </form>
                </div>
                </div>
              </div>
            </div>
        </div>
    </div>



    {% endif %}
  <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">
    </script>

<script>
     $("#table tr").click(function(){
           $(this).toggleClass('selected');
        });

     $('.fix').on('click', function(e){
            var selected = [];
            $("#table tr.selected").each(function(){
                selected.push($('td', this).eq(1).text());
            });

            var json_string = JSON.stringify(selected);
            alert(json_string);
            document.getElementById("ids").value = json_string;
        });

     $('.ok').on('click', function(e){
            var selected = [];
            $("#table tr.selected").each(function(){
                selected.push($('td', this).eq(1).text());
            });

            var json_string = JSON.stringify(selected);
            alert(json_string);
            document.getElementById("ids").value = json_string;
        });

     function sentMessage(s){
            alert(s)
        }
</script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>