<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="jquery-3.3.1.min.js"></script>
<style>
    body, html {
        font-size: 12px;
    }
    .selected {
    background-color: brown;
    color: #FFF;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin: 1rem 0;
    }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    h1{
        font-size: 2rem;
    }
    h5 {
        font-weight: bold;
    }

    .notequal-thead {
        background-color: #ff7e22;

    }
    .notfound-thead {
        background-color: red;

    }
    .equal-thead {
        background-color: seagreen;

    }
    table th {
        color: #fff;
    }
    .notequal-thead,.notequal,.equal {
        margin:1rem 0;
    }
    table .total td {
        font-weight: bold;
        font-size: 1.2rem;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
        text-decoration: none;
        color: white;
    }
</style>

<body>
    <ul>
        <li><a href="/">Transactions</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/analytics">Analytics</a></li>
        <li><a href="/tasks">Tasks</a></li>
        {% if request.session.isAuth  %}
            <li><a href = "/auth/logout/">Выйти ({{ request.session.user }})</a></li>
        {% else %}
            <li><a href = "/auth/login/">Войти</a></li>
        {% endif %}
    </ul>

    <p class="text-center"> </p>

    <div class="select2-container" style="padding-top:15px;">
        <form method='post' class="d-flex justify-content-center">
            {% csrf_token %}
{#             {{ form.as_p }}#}
            <input class="form-control input-cal" type="date" id="example-date-input" name="start_date"  style= 'width:200px' value={{ request.session.start }}>
            <input class="form-control input-cal" type="date" id="example-date-input" name ="end_date"  style= 'width:200px' value={{ request.session.end }}>
            <select name ="name" class="custom-select" id="inputGroupSelect04" style="width:200px">
                        <option value ="Kaspi">Kaspi</option>
                        <option value ="Processing">Processing</option>
                        <option value ="Tourism">Tourism</option>
                        <option value ="Kazkom">Kazkom</option>
            </select>
            <select name ="company" class="custom-select" id="inputGroupSelect04" style="width:200px">
                        <option value ="Chocotravel/Aviata">Chocotravel/Aviata</option>
                        <option value ="Chocolife">Chocolife</option>
                        <option value ="Rahmet">Rahmet</option>
                        <option value ="Chocofood">Chocofood</option>
                        <option value ="iDoctor">iDoctor</option>
            </select>
            <select name ="direction" class="custom-select" id="inputGroupSelect04" style="width:200px">
                        <option value="ChocoToPayment">Choco -> Payment</option>
                        <option value="PaymentToChoco">Payment -> Choco </option>
            </select>
            <button type="submit" class="btn btn-success ml-3 btn-1" name = "submit" value="search">Submit</button>
            <button type="submit" class="btn btn-success ml-3 btn-2" name = "submit" value="update">Update</button>
        </form>
    </div>

{#    compare and insert to table#}
{#    {% if found == True%}#}
{##}
{#        <script>#}
{#        function myFunction() {#}
{#            alert("Found new files");#}
{#        }#}
{#        </script>#}
{#    {% endif %}#}

    {% if direction == "ChocoToPayment" %}
    <h1 class="text-center my-3"> {{ name }} Transactions</h1>
    <div class="container">
        <div class="row">
        <div class="accordion w-100 " id="accordionExample">
              <div class="card" >
              <div class="d-flex flex-row w-100">
                <div class="card-header"  style="width: 33.3%;" id="headingOne">
                  <h5 class="mb-0" style="text-align: center;">
                    <button class="btn btn-link" s type="button" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Datas with not equal trasnfer amount
                    </button>
                  </h5>
                </div><div class="card-header"  style="width: 33.3%;" id="headingTwo">
              <h5 class="mb-0" style="text-align: center;">
                <button class="btn btn-link collapsed" type="button" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Datas not found in database
                </button>
              </h5>
            </div>
                <div class="card-header"  style="width: 33.3%;" id="headingThree">
                  <h5 class="mb-0" style="text-align: center;">
                    <button class="btn btn-link collapsed" style="text-decoration: none;" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Datas with equal parameters
                    </button>
                  </h5>
                </div>
              </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class = "notequal" >
                    <h5 class="ml-3"> Данные, которые есть в платежной системе но не одинаковы с компанией </h5>

                    <table id ="table">
                        <thead class="notequal-thead">
                            <th> ID </th>
                            <th> DATE </th>
                            <th> TIME </th>
                            <th> TRANSFER </th>
                            <th> FEE </th>
                            <th> TOTAL </th>
                            <th> REFERENCE </th>
                            <th> BANK </th>
                        </thead>
                        {% for i in notequal %}
                        <tr>
                            <td> {{ i.id }}</td>
                            <td> {{ i.date }}</td>
                            <td> {{ i.time }}</td>
                            <td> {{ i.transfer }}</td>
                            <td> {{ i.fee }}</td>
                            <td> {{ i.total }}</td>
                            <td> {{ i.reference }}</td>
                            <td> {{ i.bank }}</td>
                        </tr>
                        {%  endfor %}
                        <tr class="total">
                            <td> TOTAL: </td>
                            <td> {{ notequal_total.date }}</td>
                            <td> {{ notequal.time  }}</td>
                            <td> {{ notequal_total.transfer }}</td>
                            <td> {{ notequal_total.fee }}</td>
                            <td> {{ notequal_total.total }}</td>
                            <td> {{ noteual.reference }}</td>
                            <td> {{ notequal_total.bank }}</td>
                        </tr>

                    </table>
                  <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-info center-block" type = "submit" name = "submit" value = "nondownload" >Download CSV</button>
                    <button class="btn btn-outline-info center-block" type = "submit" name = "submit" value = "nonexcel" >Download Excel</button>
                  </form>
                    {%  if notequal %}
                        <form method='post' >
                                    {% csrf_token %}
                            <button type="submit" class="btn btn-success ml-3 btn-2" name = "fix" style="float:right" value="fix">Fix datas</button>
                        </form>
                        {% endif %}
                     {% if request.session.user == 'admin'  %}
                         <form method="post">
                                     {% csrf_token %}
                          <select name ="workers" class="custom-select" id="inputGroupSelect04" style="width:200px">
                                <option value ="Aisara">Aisara Ysmagul</option>
                                <option value ="Assylzhan">Assylzhan Zharzhanov</option>
                                <option value ="Anelya">Anelya Okapova</option>
                                <option value ="Sabyrzhan">Sabyrzhan Adayev</option>
                            </select>
                             <input id = "selected_ids" type="hidden" name="selected_ids" value="">
                             <input type="hidden" name="start" value={{ request.session.start }}>
                             <input type="hidden" name="end" value={{ request.session.end }}>
                             <button class="btn btn-outline-info center-block ok" id = "tst" type="submit" name="send" value="send">Send</button>
                         </form>
                     {% endif %}
                  </div>
                </div>
              </div>
              <div class="card">
{#            <div class="card-header" id="headingTwo">#}
{#              <h5 class="mb-0">#}
{#                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">#}
{#                  Collapsible Group Item #2#}
{#                </button>#}
{#              </h5>#}
{#            </div>#}
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class = "notfound mt-2 p-2">
                <h5  class="ml-3"> Данные, которых нет в платежной системе </h5>
                <table id="table">
                    <thead class="notfound-thead">
                            <th> ID </th>
                            <th> DATE </th>
                            <th> TIME </th>
                            <th> TRANSFER </th>
                            <th> FEE </th>
                            <th> TOTAL </th>
                            <th> REFERENCE </th>
                            <th> BANK </th>
                    </thead>
                    {% for i in notfound %}
                    <tr>
                            <td> {{ i.id }}</td>
                            <td> {{ i.date }}</td>
                            <td> {{ i.time }}</td>
                            <td> {{ i.transfer }}</td>
                            <td> {{ i.fee }}</td>
                            <td> {{ i.total }}</td>
                            <td> {{ i.reference }}</td>
                            <td> {{ i.bank }}</td>
                    </tr>
                    {%  endfor %}
                </table>
              <form method="post">
                                {% csrf_token %}
                <button class="btn btn-outline-info center-block" type = "submit" name = "submit" value = "founddownload" >Download CSV</button>
                <button class="btn btn-outline-info center-block" type = "submit" name = "submit" value = "foundexcel" >Download Excel</button>
              </form>
                     {% if request.session.user == 'admin'  %}
                  <select name ="workers" class="custom-select" id="inputGroupSelect04" style="width:200px">
                        <option value ="Aisara">Aisara Ysmagul</option>
                        <option value ="Assylzhan">Assylzhan Zharzhanov</option>
                        <option value ="Anelya">Anelya Okapova</option>
                        <option value ="Sabyrzhan">Sabyrzhan Adayev</option>
                    </select>
                  <button class="btn btn-outline-info center-block ok" id = "tst">Send</button>
                    {% endif %}
              </div>

            </div>
          </div>
              <div class="card">
{#                <div class="card-header" id="headingThree">#}
{#                  <h5 class="mb-0">#}
{#                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">#}
{#                      Collapsible Group Item #3#}
{#                    </button>#}
{#                  </h5>#}
{#                </div>#}
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

                <div class = "equal"  style="" >
                <h5 class="ml-3"> Данные, которые одинаковы в платежной системе и компании  </h5>
                <table id = "table">
                    <thead class="equal-thead">
                            <th> ID </th>
                                <th> DATE </th>
                                <th> TIME </th>
                                <th> TRANSFER </th>
                                <th> FEE </th>
                                <th> TOTAL </th>
                            <th> REFERENCE </th>
                            <th> BANK </th>
                    </thead>
                    {% for i in equal %}
                    <tr>
                        <td> {{ i.id }}</td>
                            <td> {{ i.date }}</td>
                            <td> {{ i.time }}</td>
                            <td> {{ i.transfer }}</td>
                            <td> {{ i.fee }}</td>
                            <td> {{ i.total }}</td>
                            <td> {{ i.reference }}</td>
                            <td> {{ i.bank }}</td>
                    </tr>
                    {%  endfor %}
                     <tr class="total">
                        <td> TOTAL: </td>
                        <td> {{ equal_total.date }}</td>
                         <td> {{ equal_total.time}}</td>
                         <td> {{ equal_total.transfer }}</td>
                        <td> {{ equal_total.fee }}</td>
                        <td> {{ equal_total.total }}</td>
                          <td> {{ equal_total.reference}}</td>
                        <td> {{ equal_total.bank }}</td>
                    </tr>
                </table>
                <form method="post">
                                {% csrf_token %}

                <button class="btn btn-outline-info" type = "submit" name = "submit" value = "download">Download CSV</button>
                <button class="btn btn-outline-info center-block" type = "submit" name = "submit" value = "excel" >Download Excel</button>
                </form>
                                    {% if request.session.user == 'admin'  %}
                    <select name ="workers" class="custom-select" id="inputGroupSelect04" style="width:200px">
                        <option value ="Aisara">Aisara Ysmagul</option>
                        <option value ="Assylzhan">Assylzhan Zharzhanov</option>
                        <option value ="Anelya">Anelya Okapova</option>
                        <option value ="Sabyrzhan">Sabyrzhan Adayev</option>
                    </select>
                <button class="btn btn-outline-info center-block ok" id = "tst">Send</button>
                    {% endif %}
                </div>

                </div>
              </div>
        </div>
            <div class="col-md-10 mx-auto">
            </div>
        </div>
    </div>
    {% endif %}




{#----------------------------------------------------------------------------------------------------------------#}
    {% if direction == "PaymentToChoco" %}
        <h1 class="text-center my-3"> {{ name }} Transactions</h1>
    <div class="container">
        <div class="row">
        <div class="accordion w-100 " id="accordionExample">
              <div class="card" >
              <div class="d-flex flex-row w-100">
                <div class="card-header"  style="width: 33.3%;" id="headingOne">
                  <h5 class="mb-0" style="text-align: center;">
                    <button class="btn btn-link" s type="button" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Datas with not equal trasnfer amount
                    </button>
                  </h5>
                </div><div class="card-header"  style="width: 33.3%;" id="headingTwo">
              <h5 class="mb-0" style="text-align: center;">
                <button class="btn btn-link collapsed" type="button" style="text-decoration: none;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Datas not found in database
                </button>
              </h5>
            </div>
                <div class="card-header"  style="width: 33.3%;" id="headingThree">
                  <h5 class="mb-0" style="text-align: center;">
                    <button class="btn btn-link collapsed" style="text-decoration: none;" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Datas with equal parameters
                    </button>
                  </h5>
                </div>
              </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class = "notequal" >
                    <h5 class="ml-3"> Данные, которые есть в платежной системе но не одинаковы с компанией </h5>

                    <table id = "table">
                        <thead class="notequal-thead">
                            <th> ID </th>
                            <th> DATE </th>
                            <th> TIME </th>
                            <th> TRANSFER </th>
                            <th> FEE </th>
                            <th> TOTAL </th>
                            <th> REFERENCE </th>
                            <th> BANK </th>
                        </thead>
                        {% for i in ps_notequal %}
                        <tr>
                            <td> {{ i.id }}</td>
                            <td> {{ i.date }}</td>
                            <td> {{ i.time }}</td>
                            <td> {{ i.transfer }}</td>
                            <td> {{ i.fee }}</td>
                            <td> {{ i.total }}</td>
                            <td> {{ i.reference }}</td>
                            <td> {{ i.bank }}</td>
                        </tr>
                        {%  endfor %}
                        <tr class="total">
                            <td> TOTAL: </td>
                            <td> {{ ps_notequal_total.date }}</td>
                            <td> {{ ps_notequal_total.time  }}</td>
                            <td> {{ ps_notequal_total.transfer }}</td>
                            <td> {{ ps_notequal_total.fee }}</td>
                            <td> {{ ps_notequal_total.total }}</td>
                            <td> {{ ps_notequal_total.reference }}</td>
                            <td> {{ ps_notequal_total.bank }}</td>
                        </tr>
                    </table>
                  <form method="post">
                                {% csrf_token %}
                    <button class="btn btn-outline-info center-block" type = "submit" name = "submit" value = "nondownload" >Download CSV</button>
                    <button class="btn btn-outline-info center-block" type = "submit" name = "submit" value = "nonexcel" >Download Excel</button>
                  </form>
                                      {% if request.session.user == 'admin'  %}
                  <select name ="workers" class="custom-select" id="inputGroupSelect04" style="width:200px">
                        <option value ="Aisara">Aisara Ysmagul</option>
                        <option value ="Assylzhan">Assylzhan Zharzhanov</option>
                        <option value ="Anelya">Anelya Okapova</option>
                        <option value ="Sabyrzhan">Sabyrzhan Adayev</option>
                    </select>
                      <button class="btn btn-outline-info center-block ok" id = "tst">Send</button>
                                          {% endif %}
{#                    {%  if notequal %}#}
{#                        <form method='post' >#}
{#                                    {% csrf_token %}#}
{#                            <input type="hidden" name="fix_datas" value={{ notequal }}>#}
{#                            <button type="submit" class="btn btn-success ml-3 btn-2" name = "fix" style="float:right" value="fix">Fix datas</button>#}
{#                        </form>#}
{#                        {% endif %}#}
                </div>
                </div>
              </div>
              <div class="card">
{#            <div class="card-header" id="headingTwo">#}
{#              <h5 class="mb-0">#}
{#                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">#}
{#                  Collapsible Group Item #2#}
{#                </button>#}
{#              </h5>#}
{#            </div>#}
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class = "notfound mt-2 p-2">
                <h5  class="ml-3"> Данные, которых нет в платежной системе </h5>
                <table id = "table">
                    <thead class="notfound-thead">
                            <th> ID </th>
                            <th> DATE </th>
                            <th> TIME </th>
                            <th> TRANSFER </th>
                            <th> FEE </th>
                            <th> TOTAL </th>
                            <th> REFERENCE </th>
                            <th> BANK </th>
                    </thead>
                    {% for i in ps_notfound %}
                    <tr>
                            <td> {{ i.id }}</td>
                            <td> {{ i.date }}</td>
                            <td> {{ i.time }}</td>
                            <td> {{ i.transfer }}</td>
                            <td> {{ i.fee }}</td>
                            <td> {{ i.total }}</td>
                            <td> {{ i.reference }}</td>
                            <td> {{ i.bank }}</td>
                    </tr>
                    {%  endfor %}
                </table>
                  <form method="post">
                    <button class="btn btn-outline-info center-block" type = "submit" name = "submit" value = "founddownload" >Download CSV</button>
                    <button class="btn btn-outline-info center-block" type = "submit" name = "submit" value = "foundexcel" >Download Excel</button>
                  </form>
              </div>
                {% if request.session.user == 'admin' %}
            <select name ="workers" class="custom-select" id="inputGroupSelect04" style="width:200px">
                        <option value ="Aisara">Aisara Ysmagul</option>
                        <option value ="Assylzhan">Assylzhan Zharzhanov</option>
                        <option value ="Anelya">Anelya Okapova</option>
                        <option value ="Sabyrzhan">Sabyrzhan Adayev</option>
                    </select>

            <button class="btn btn-outline-info center-block ok" id = "tst">Send</button>
                {% endif %}
            </div>
          </div>
              <div class="card">
{#                <div class="card-header" id="headingThree">#}
{#                  <h5 class="mb-0">#}
{#                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">#}
{#                      Collapsible Group Item #3#}
{#                    </button>#}
{#                  </h5>#}
{#                </div>#}
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

                <div class = "equal"  style="" >
                <h5 class="ml-3"> Данные, которые одинаковы в платежной системе и компании  </h5>
                <table id = "table">
                    <thead class="equal-thead">
                            <th> ID </th>
                                <th> DATE </th>
                                <th> TIME </th>
                                <th> TRANSFER </th>
                                <th> FEE </th>
                                <th> TOTAL </th>
                            <th> REFERENCE </th>
                            <th> BANK </th>
                    </thead>
                    {% for i in ps_equal %}
                    <tr>
                        <td> {{ i.id }}</td>
                            <td> {{ i.date }}</td>
                            <td> {{ i.time }}</td>
                            <td> {{ i.transfer }}</td>
                            <td> {{ i.fee }}</td>
                            <td> {{ i.total }}</td>
                            <td> {{ i.reference }}</td>
                            <td> {{ i.bank }}</td>
                    </tr>
                    {%  endfor %}
                     <tr class="total">
                        <td> TOTAL: </td>
                        <td> {{ ps_equal_total.date }}</td>
                         <td> {{ ps_equal_total.time}}</td>
                         <td> {{ ps_equal_total.transfer }}</td>
                        <td> {{ ps_equal_total.fee }}</td>
                        <td> {{ ps_equal_total.total }}</td>
                          <td> {{ ps_equal_total.reference}}</td>
                        <td> {{ ps_equal_total.bank }}</td>
                    </tr>
                </table>
                <form method="post">
                                {% csrf_token %}
                <button class="btn btn-outline-info" type = "submit" name = "submit" value = "download">Download CSV</button>
                <button class="btn btn-outline-info center-block" type = "submit" name = "submit" value = "excel" >Download Excel</button>
                </form>
                </div>
                    {% if request.session.user == 'admin'  %}
                <form method="post">
                    <select name ="workers" class="custom-select" id="inputGroupSelect04" style="width:200px">
                        <option value ="Aisara">Aisara Ysmagul</option>
                        <option value ="Assylzhan">Assylzhan Zharzhanov</option>
                        <option value ="Anelya">Anelya Okapova</option>
                        <option value ="Sabyrzhan">Sabyrzhan Adayev</option>
                    </select>
                    <input type="hidden" name="users" >
                    <button class="btn btn-outline-info center-block ok" id = "tst">Send</button>
                </form>
                        {% endif %}
                </div>
              </div>
        </div>
            <div class="col-md-10 mx-auto">
            </div>
        </div>
    {% endif %}

    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">
    </script>

    <script>
            var rows = [];

        $("#table tr").click(function(){
           $(this).toggleClass('selected');
            var $tds = $(this).find('td');
            var row = "";
            for(var i = 0; i< $tds.length; i++) {
                if ($tds.length != 0) {
                    var $currText = $tds.eq(i).text();
                    row += $currText + " ";
                }
            }
            rows.push(row);
        });

        $('.ok').on('click', function(e){
            var selected = [];
            $("#table tr.selected").each(function(){
                selected.push($('td', this).html());
            });

            var str = "";

            for(var i = 0; i<selected.length; i++){
                str += selected[i] + " ";
            }

             document.getElementById("selected_ids").value = str;
        });

        function sentMessage(s){
            alert(s)
        }

        $(document).ready(function(){
           $('.btn-1').click(function() {
                var empty = false;
                $.each($('.input-cal'),function() {
                    if($(this).val() == '') {
                        alert("Fill the date!!!")
                       empty = true;
                   }
                });
            return !empty;
           });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>