<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update data</title>
</head>
<body>

    <h1> Search data </h1>

    <form method="post">
         {% csrf_token %}
        <button type="submit" name="submit" value="Search">Search for new Data</button>
    </form>

    <p> Bank : {{ bank }}</p>
    <p> Files : {{ files }} </p>
    <p> {{ button }}</p>
    {% if newFiles == True %}
     <form method="post">
         {% csrf_token %}
        <button type="submit" name = "submit" value="Parse">Parse</button>
    </form>
    {% endif %}

</body>
</html>